@import "layout.less";

.prompt {
  margin-bottom: 30px;
  span {
    color: @space-white;
    font-size: @space-s-font-size;
    font-weight: bold;
  }
  span.refresh_success {
    color: @space-white;
    font-size: @space-s-font-size;
    font-weight: bold;
  }
}
.labels, .values {
  color: @space-white;
  font-weight: bold;
  font-size: @space-m-font-size;
}
