@import "layout.less";

.del-fleet {
  margin-bottom: 30px;
}
.decl {
  color: @space-gray;
  font-size: @space-s-font-size;
  margin-bottom: 9px;
  span {
    font-weight: bold;
  }
  .crea-by {
    color: @space-yellow;
  }
  .crea-ed {
    color: @space-white;
  }
  .loca {
    color: @space-white;
  }
  .settlement {
    color: @space-white;
  }
  .num {
    color: @space-white;
    font-size: @space-m-font-size;
  }
}
.space-form {
  input[type="submit"] {
    margin-bottom: 28px;
  }
  input[type="submit"].settle-button {
    margin-top: 0;
    /*background-color: @space-green;*/
    /*border-color: @space-green;*/
    /*color: @space-white;*/
  }
  input[type="submit"].off-button {
    margin-top: 0;
    margin-bottom: 0;
    /*background-color: @space-yellow;*/
    /*border-color: @space-yellow;*/
    /*color: @space-black;*/
  }
}
.err {
  color: @space-red;
  font-weight: bold;
}
.success {
  color: @space-green;
  font-size: @space-s-font-size;
  font-weight: bold;
}
.productions, .prices-now, .salaries {
  color: @space-gray;
  li {
    margin: 6px 0;
  }
  font-size: @space-s-font-size;
  .miner {
    color: @space-white;
    font-size: @space-m-font-size;;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .quan {
    color: @space-white;
  }
  .ore {
    color: @space-yellow;
  }
  .vol {
    color: @space-white;
  }
  .total-v {
    box-sizing: border-box;
    border: 0 solid #000;
    color: @space-white;
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .price {
    color: @space-white;
  }
  .salary {
    color: @space-green;
    font-size: @space-m-font-size;
  }
  .salary-getter {
    color: @space-yellow;
    font-size: @space-s-font-size;
  }
}
.prices-now-title {
  color: @space-white;
  margin-top: 18px;
  font-weight: bold;
}
.salaries-title {
  /*color: @space-green;*/
  color: @space-white;
  font-weight: bold;
}
.settlement-section {
  /*border-left: 1px solid @space-green;*/
  border-left: 1px solid @space-white;
  padding: 0;
  padding-left: 9px;
  padding-bottom: 5px;
  margin-bottom:21px;
  .settlement-way {
    /*color: @space-green;*/
    color: @space-white;
    font-size: @space-m-font-size;
    font-weight: bold;
  }
  input[type="text"] {
    width: 63px;
  }
  input[type="submit"] {
    margin-top: 9px;
    margin-bottom: 0;
  }
}
.settled-alert {
  margin-top: 9px;
  /*color: @space-yellow;*/
  color: @space-white;
  font-size: @space-s-font-size;
  font-weight: bold;
}
.off-alert {
  color: @space-yellow;
  font-size: @space-s-font-size;
}
