<body>  
<div style="overflow: hidden; background-color: #000;">
  <div class="bg container-fluid" style="overflow: hidden; background: url({{ get_domain() }}/static/star-gb.jpg); color: #fff; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; line-height: 1.5; font-weight: 400; font-size: 1rem; text-align: left; outline: none; box-sizing: border-box;">
    <div class="main">
      <div><h1 class="corp" style="margin: 22px 0 15px 20px; font-size: 23px; font-weight: bold; line-height: 1.2;">方舟工业<span class="en-name blocked" style="font-size: 23px; font-weight: bold;"><span class="ark" style="color: #3bf;">Ark</span><span class="industry" style="margin-left: 2px;">Industry</span></span><span class="short blocked" style="font-size: 18px; font-weight: bold; color: #feb632;">ARKET</span></h1></div>
      <main class="content" style="overflow: hidden; padding: 30px 0 0 22px; display: block; outline: none; box-sizing: border-box;">
        <h2 style="font-size: 18px; margin-top: 0; margin-bottom: 14px; color: #fff; line-height: 1.2; font-weight: bold;">您正在进行密码重置</h2>
        <span class="prompt blocked" style="color: #feb632; font-weight: bold; font-size: 14px; display: inline-block;">如果这不是您的申请，请忽略此邮件</span>
        <p style="margin-top: 0; margin-bottom: 1rem; color: #fff; font-weight: bold;"><span class="blocked" style="display: inline-block; color: #fff; font-size: 14px;">请点击下方链接，</span><span class="blocked" style="display: inline-block; color: #fff; font-size: 14px;">或将其复制到浏览器地址栏并访问。</span></p>
        <p class="url" style="max-width: 300px; color: #bbb; font-size: 14px; margin-top: 0; margin-bottom: 1rem;"><a href="{{ recover_url }}" style="color: #bbb;">{{ recover_url }}</a></p>
      </main>
      <footer style="display: inline-block; margin-left: 22px; padding: 60px 11px 60px; width: 286px; text-align: center;">
        <p style="font-weight: normal; margin-top: 0; margin-bottom: 7px; font-size: 14px; color: #bbb;">方舟工业，我们创造一切</p>
        <p style="font-weight: normal; margin-top: 0; margin-bottom: 7px; font-size: 14px; color: #bbb;" class="eve-decl">EVE Online is a free MMORPG where you can embark on your own unique space adventure. EVE's open world MMORPG sandbox, renowned among online space games, lets you choose your own path and engage in combat, exploration, industry and much more. Play the world's #1 space MMO today!</p>
        <p style="font-weight: normal; margin-top: 0; margin-bottom: 7px; font-size: 14px; color: #bbb;"><a href="https://evepc.163.com" style="color: #bbb;">EVE Online 官方网站</a></p>
        <p style="font-weight: normal; margin-top: 0; margin-bottom: 7px; font-size: 14px; color: #bbb;"><a href="https://github.com/jamesvlee/arkindustry" style="color: #bbb;">GITHUB</a> • <a href="" style="color: #bbb;">网站备案</a></p>
	<p style="font-weight: normal; margin-top: 0; margin-bottom: 7px; font-size: 14px; color: #bbb;">Copyright © eve-arkindustry.net <span id="copyrDate"></span>{{ get_var() }}</p>
      </footer>
    </div>
  </div>
</div>
</body>
