{% extends 'layout.html' %}
{% block title %}请重置您的密码{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet/less" href="{{ url_for('static', filename='recover_password.less') }}">
{% endblock %}
<body> 
  {% block page %}
  <div class="bg container-fluid" style="background: url('{{ url_for('static', filename='star-bg.jpg') }}');">
    <div class="main">
      <div><h1 class="corp">方舟工业<span class="en-name blocked"><span class="ark">Ark</span><span class="industry">Industry</span></span><span class="short blocked">ARKET</span></h1></div>
      <main class="content">
        <h2>您正在进行密码重置</h2>
        <span class="prompt blocked">如果这不是您的申请，请忽略此邮件</span>
        <p><span class="blocked">请点击下方链接，</span><span class="blocked">或将其复制到浏览器地址栏并访问。</span></p>
        <p class="url" style="max-width: 300px;"><a href="{{ recover_url }}">{{ recover_url }}</a></p>
      </main>
    {% block footer %}
      {{ super() }}
    {% endblock %}
    </div>
  </div>
  {% block scripts %}
    {{ super() }}
  {% endblock %}
  {% endblock %}
</body>
</html>
