STARTED = 2020
DOMAIN = ''

DEBUG = True

SECRET_KEY = ''

SALT = ''

MAIL_SERVER = ''
MAIL_PORT = ''
MAIL_USE_SSL = True
MAIL_USERNAME = ''
MAIL_DEFAULT_SENDER = ''
MAIL_PASSWORD = ''

DB_NAME = ''
DB_USER = ''
DB_PWD = ''
DB_AUTHSRC = ''
