{% set p = 'mining' %}
{% set back_url = url_for('mining.mining_fleets', channel_short=channel_short) %}
{% extends 'layout.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet/less" href="{{ url_for('static', filename='productions.less') }}">
{% endblock %}
{% block title %}矿队产出明细{% endblock %}
{% block main %}
{% if is_channel_owner or is_creator %}
<span class="blocked del-fleet">
  <a class="button space-button-white" href="{{ url_for('mining.delete_fleet', channel_short=channel_short, fleet_short=fleet.short) }}">注销矿队</a>
</span>
{% endif %}
<h2 class="product">矿队产出明细</h2>
<p class="decl">
  该矿队由
  <span class="crea-by">{{ fleet.createdby.nickname }}</span>
  于
  <span class="crea-ed">{{ moment(fleet.created).fromNow() }}</span>
  <span class="blocked">
    在
    {% for sys in fleet.systems %}
    <span class="loca">{{ sys.name }}</span>
    {% endfor %}
    星系创建
  </span>
</p>
<p class="decl">
  {% if fleet.usage.status == UPLOADING %}
  目前
  {% endif %}
  共有
  <span class="num">{{ fleet.usage.productions|length }}</span>
  人上传采矿明细
</p>
{% if fleet.usage.status == SETTLING or fleet.usage.status == CLOSED %}
<p class="decl">
  <span class="blocked">
    {% if fleet.usage.settlement == MINERAL %}
    <span class="settlement">按矿物</span>
    {% elif fleet.usage.settlement == ORE %}
    <span class="settlement">按原矿</span>
    {% endif %}
    结算，
  </span>
  <span class="blocked">
    {% if fleet.usage.settlement == MINERAL %}
    化矿比例为
    <span class="num">{{ fleet.usage.refining_ratio }}</span>
    %，
    {% endif %}
  </span>
  <span class="blocked">
    结算比例为
    <span class="num">{{ fleet.usage.ratio }}</span>
    %
  </span>
</p>
{% endif %}
{% if is_creator and fleet.usage.status != CLOSED and fleet.usage.productions|length > 0 %}
  {% if is_creator and fleet.usage.status == SETTLING %}
  <label class="settled-alert">对结算方式不满意？您可以重新结算</label>
  <br>
  {% endif %}
<section class="settlement-section">
  <label class="settlement-way">按矿物结算</label>
  <form novalidate class="space-form" action="" method="post">
    {{ msform.csrf_token }}
    <input type="hidden" value="refining_and_settle" name="func">
    {{ msform.refining_ratio.label }} {{ msform.refining_ratio }}%
    {% for error in msform.refining_ratio.errors %}
    <br>
    &emsp;&emsp;&emsp;&emsp; <span class="err">{{ error}}</span>
    {% endfor %}
    <br>
    {{ msform.ratio.label }} {{ msform.ratio }}%
    {% for error in msform.ratio.errors %}
    <br>
    &emsp;&emsp;&emsp;&emsp; <span class="err">{{ error}}</span>
    {% endfor %}
    <br>
    <input class="settle-button" type="submit" name="ms_submit" value="结算">
  </form>
</section>
<section class="settlement-section">
  <label class="settlement-way">按原矿结算</label>
  <form novalidate class="space-form" action="" method="post">
    {{ osform.csrf_token }}
    <input type="hidden" value="ore_settle" name="func">
    {{ osform.ore_ratio.label }} {{ osform.ore_ratio }}%
    {% for error in osform.ore_ratio.errors %}
    <br>
    &emsp;&emsp;&emsp;&emsp; <span class="err">{{ error}}</span>
    {% endfor %}
    <br>
    <input class="settle-button" type="submit" name="os_submit" value="结算">
  </form>
</section>
  {% if fleet.usage.status == SETTLING %}
  <form novalidate style="margin-bottom: 10px;" class="space-form" action="" method="post">
    <input type="hidden" value="off" name="func">
    <input class="off-button" type="submit" value="收工">
    <br>
    <span class="off-alert">收工前请确认结算数据</span>
  </form>
  {% endif %}
{% endif %}
{% if is_channel_member and fleet.usage.status == UPLOADING %}
<label>上传或更新个人当日采矿明细</label>
<form novalidate class="space-form" action="" method="post">
  <input type="hidden" value="upload" name="func">
  <textarea name="pur"></textarea>
  <br>
  {% if error_msg %}
    {% if error_msg == "上传成功" %}
    <span class="success">{{ error_msg }}</span>
    {% else %}
    <span class="err">{{ error_msg }}</span>
    {% endif %}
  <br>
  {% endif %}
  <input type="submit" value="上传">
</form>
{% endif %}
{% if fleet.usage.status != UPLOADING %}
<label class="prices-now-title">{% if fleet.usage.settlement == ORE %}当日原矿价格{% elif fleet.usage.settlement == MINERAL %}当日矿物价格{% endif %}</label>
<ul class="prices-now">
  {% for price in fleet.usage.prices_now %}
  <li>
    <span class="ore">{{ price.item_type.name }}</span>
    <span class=price>{{ price.price }}</span>
    ISK
  </li>
  {% endfor %}
</ul>
<label class="salaries-title" style="margin-top: 18px;">工资明细</label>
<ul class="salaries" style="margin-bottom: 18px;">
  {% for prod in fleet.usage.productions %}
  <li>
    <span class="salary-getter">{{ prod.member.nickname }}</span>
    获得
    <span class="salary">{{ prod.value }}</span>
    ISK
  </li>
  {% endfor %}
</ul>
{% endif %}
<ul class="productions">
  {% for p in fleet.usage.productions%}
  <li>
    <p class="miner">{{ p.member.nickname }}</p>
    <ul>
      {% for mq in p.quantity %}
      <li>
	<span class="ore">{{ mq.item_type.name }}</span>
        挖了
	<span class="quan">{{ mq.quantity}}</span>
	单位
	<span class="blocked">
	  共计
	  <span class="vol">{{ mq.volume }}</span>
	  m³
	</span>
      </li>
      {% endfor %}
    </ul>
    <p class="total-v">总体积: {{ p.total_volume }}m³</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ moment.include_moment(local_js=url_for('static', filename='moment-with-locales.min.js')) }}
  {{ moment.locale('zh-cn') }}
{% endblock %}
