{% set p = 'login' %}
{% extends 'layout.html' %}
{% block title %}登录角色{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet/less" href="{{ url_for('static', filename='login.less') }}">
{% endblock %}
{% block main %}
<h2>登录角色</h2>
<form novalidate class="space-form" action="" method="post">
  {{ form.csrf_token }}
  {{ form.email.label }} {{ form.email }}
  <br>
  {% for error in form.email.errors %}
  &emsp;&emsp; <span class="err">{{ error }}</span>
  <br>
  {% endfor %}
  {{ form.password.label }} {{ form.password }}
  <br>
  {% for error in form.password.errors %}
  &emsp;&emsp; <span class="err">{{ error }}</span>
  <br>
  {% endfor %}
  {% if error_msg %}
  &emsp;&emsp; <span class="err">{{ error_msg }}</span>
  <br>
  {% endif %}
  <span class="rem">{{ form.remember(checked=True) }}{{ form.remember.label }}</span>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
  <span class="forgot"><a href="{{ url_for('general.reset_password') }}">忘记密码？</a></span>
  <br>
  <input type="submit" value="登录">
</form>
{% endblock %}
