{% extends 'layout.html' %}
{% block title %}重置密码{% endblock %}
{% block main %}
<h2>请设置您的新密码</h2>
<form novalidate class="space-form" action="" method="post">
  {{ form.csrf_token }}
  {{ form.password.label }}&emsp;&emsp; {{ form.password }}
  <br>
  {% for error in form.password.errors %}
  &emsp;&emsp;&emsp;&emsp; <span class="err">{{ error }}</span>
  <br>
  {% endfor %}
  {{ form.repassword.label }} {{ form.repassword }}
  <br>
  {% for error in form.repassword.errors %}
  &emsp;&emsp;&emsp;&emsp; <span class="err">{{ error }}</span>
  <br>
  {% endfor %}
  <input type="submit" value="确认">
</form>
{% endblock %}
